## Problem Defintion
Company wants to automate the loan eligibility process (real time) based on customer detail provided while filling online application form. These details are Gender, Marital Status, Education, Number of Dependents, Income, Loan Amount, Credit History and others. To automate this process, they have given a problem to identify the customers segments, those are eligible for loan amount so that they can specifically target these customers. Here they have provided a partial data set.

## Dataset
The dataset is a seconda data, which can be found on kaggle. https://www.kaggle.com/datasets/ninzaami/loan-predication


## Evaluation
If we get an accuracy score, f1 score, recall score, a good precision score between 40 and 50, then our model is ready to be in production.

## Evaluation matrics to use
* F1 Score
* Precision
* Recall
* Confusion Metrixs
* Classification

## Algorithms to experiment with
* Random Forest Classiffier
* Logist Regression
* Decision Tree
* XGBoost

## Steps
* Explore our dataset
* Preprocess our data
* Build Model
* Evaluate
* Optimize it
* Save and deploy model

In [1]:
# Setup Environment Variables
DATA_LAKE = "datalake-us-east-1-867666079941"
DATABASE_NAME = "database-us-east-1-867666079941"
DATA_WAREHOUSE = "datawarehouse-us-east-1-867666079941"

In [5]:
#Import Core Libries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot

# Import Sage Maker Libries
import sagemaker
from sagemaker import get_execution_role

# Import Other Libries
import boto3

Now that we have setup our infrastructure, we are going to start building our models by performing different experients. But before we do so, we will first bring in our dataset, explore it and get more insight from it.

In [12]:
# We are now going to bring in our dataset using boto3 but before we do that let's intialize boto3 first
s3 = boto3.client("s3")

#Initialize sagemaker
sess = sagemaker.Session()

# Get role
role = get_execution_role()

# Get bucket name for artifacts
bucket = sess.default_bucket()

#Display role and defult bucket name
print(f"Default Bucket name: {bucket}")
print(f"Default execution role: {role}")

Default Bucket name: sagemaker-us-east-1-867666079941
Default execution role: arn:aws:iam::867666079941:role/mlproject-sagemaker-iam-role

In [24]:
try:
    
    # Get dataset
    df = pd.read_csv("../data/raw/loan-prediction.csv")
    prin("Dataset exists")
    
except:
    
    # Download dataset
    print("Dataset does not exists trying to download it now.....")
    s3.download_file(DATABASE_NAME, "raw-dataset/loan-prediction.csv", "../data/raw/loan-prediction.csv")

Dataset does not exists trying to download it now.....

In [23]:
#Display datasets
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y